<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Welcome My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 로그인 상태 -->
        <div sec:authorize="isAuthenticated()">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/board/writeForm">글쓰기📝</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/updateForm">회원정보👥</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃👋🏼</a>
                </li>
            </ul>
        </div>
        <!-- 비로그인 상태 -->
        <div sec:authorize="isAnonymous()">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/loginForm">로그인 🔐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/joinForm">회원가입 👋🏼</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</div>
</html>