<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Welcome My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Join</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">Write Title</h4>
            <p class="card-text">Write Content</p>
            <a href="#" class="btn btn-primary">Show Details</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">Write Title</h4>
            <p class="card-text">Write Content</p>
            <a href="#" class="btn btn-primary">Show Details</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">Write Title</h4>
            <p class="card-text">Write Content</p>
            <a href="#" class="btn btn-primary">Show Details</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">Write Title</h4>
            <p class="card-text">Write Content</p>
            <a href="#" class="btn btn-primary">Show Details</a>
        </div>
    </div>

</div>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>


